
.parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/parallax/hero-jellyfish-fg.png"),
      url("../assets/parallax/Heroexportjellmid.png"),
      url("../assets/parallax/Hero-character-fish.png"),
      url("../assets/parallax/herobgjellyfish.png"),
      url("../assets/parallax/Herobg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 85%, 90%, 100%, 100%, 100%;
  }